/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  margin: 0px;
  padding: 0px;
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  min-height: 100%; }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body, html {
  margin: 0px;
  padding: 0px;
  background: #FFF;
  height: 100%;
  min-height: 100%; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
.clearfix:after, .row:after, #mega-footer:after, #mega-footer ul:after, .join:after, .sponsors:after, #primary .board--members li:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix, * html .row, * html #mega-footer, * html #mega-footer ul, #mega-footer * html ul, * html .join, * html .sponsors, * html #primary .board--members li, #primary .board--members * html li {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix, *:first-child + html .row, *:first-child + html #mega-footer, *:first-child + html #mega-footer ul, #mega-footer *:first-child + html ul, *:first-child + html .join, *:first-child + html .sponsors, *:first-child + html #primary .board--members li, #primary .board--members *:first-child + html li {
  zoom: 1; }

/* IE7 */
a {
  color: #ed1c24; }

.spacing, .mission-statement, .community, .join, .sponsors h2 {
  margin-bottom: 40px;
  padding-top: 40px; }

body {
  font-family: "Montserrat", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif; }

h1, h2 {
  font-weight: normal; }

.site-header-main a {
  color: #ed1c24; }

#site-navigation #menu-main li a, #site-navigation #menu-main li.menu-item a, #site-navigation ul li a, #site-navigation ul li.menu-item a {
  text-decoration: none;
  color: #FFF;
  letter-spacing: 2px;
  text-transform: capitalize; }

#site-navigation #menu-main li.menu-item-has-children ul, #site-navigation #menu-main li.menu-item.menu-item-has-children ul, #site-navigation ul li.menu-item-has-children ul, #site-navigation ul li.menu-item.menu-item-has-children ul {
  background-color: #FFF; }
  #site-navigation #menu-main li.menu-item-has-children ul li, #site-navigation #menu-main li.menu-item.menu-item-has-children ul li, #site-navigation ul li.menu-item-has-children ul li, #site-navigation ul li.menu-item.menu-item-has-children ul li {
    color: #FFF;
    background-color: inherit; }

#masthead {
  margin-bottom: 40px;
  background-color: #FFF;
  border-bottom: 2px solid #ed1c24; }
  #masthead #site-header-menu #site-navigation .menu-item a {
    color: #ed1c24; }
  #masthead .header--search-form input {
    display: none; }

.site-branding {
  margin-right: 8% !important;
  margin-top: 1.1rem !important; }
  @media only screen and (max-width: 767px) {
    .site-branding {
      margin-right: auto !important; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .site-branding {
      margin-right: auto !important; } }

#social-navigation {
  display: block;
  margin: 0 0 0 auto; }
  #social-navigation a::before {
    content: ''; }
  #social-navigation .menu-item:first-child {
    background-image: url("../images/social-media-logos/facebook.svg");
    background-repeat: no-repeat;
    background-size: 80%; }

#main {
  padding-top: 40px; }

.article {
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66667%;
  margin-left: 0%;
  margin-right: 3%; }
  .article::after {
    content: '';
    display: table;
    clear: both; }
  .article:last-child {
    margin-right: 0%; }

aside {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%; }
  aside::after {
    content: '';
    display: table;
    clear: both; }
  aside:last-child {
    margin-right: 0%; }

.footer {
  background-color: #000; }

.site-info {
  text-align: center;
  width: 100%;
  max-width: 100%; }

.site-footer {
  padding-bottom: 0.5em; }

.site-footer .site-title:after {
  content: none !important; }

#mega-footer {
  padding: 40px 4.5455% 0;
  border-top: 1px solid #ed1c24; }
  #mega-footer h2 {
    margin-bottom: 20px; }
  #mega-footer ul {
    margin: 0;
    padding: 0; }
    #mega-footer ul li.mega-item {
      float: left;
      clear: none;
      text-align: inherit;
      width: 31.33333%;
      margin-left: 0%;
      margin-right: 3%;
      list-style: none;
      border-right: 1px solid #ccc;
      height: 182px; }
      #mega-footer ul li.mega-item::after {
        content: '';
        display: table;
        clear: both; }
      #mega-footer ul li.mega-item:last-child {
        margin-right: 0%; }
      @media only screen and (max-width: 767px) {
        #mega-footer ul li.mega-item {
          border-right: none;
          float: left;
          clear: none;
          text-align: inherit;
          width: 100%;
          margin-left: 0%;
          margin-right: 3%;
          clear: both;
          float: none;
          height: auto !important;
          margin-bottom: 10px;
          padding-top: 10px;
          border-bottom: 1px solid #ed1c24;
          min-width: 100%;
          padding: 0 30px; }
          #mega-footer ul li.mega-item::after {
            content: '';
            display: table;
            clear: both; }
          #mega-footer ul li.mega-item:last-child {
            margin-right: 0%; } }
      #mega-footer ul li.mega-item:first-child {
        float: left;
        clear: none;
        text-align: inherit;
        width: 14.16667%;
        margin-left: 0%;
        margin-right: 3%; }
        #mega-footer ul li.mega-item:first-child::after {
          content: '';
          display: table;
          clear: both; }
        #mega-footer ul li.mega-item:first-child:last-child {
          margin-right: 0%; }
      #mega-footer ul li.mega-item:last-child {
        float: left;
        clear: none;
        text-align: inherit;
        width: 14.16667%;
        margin-left: 0%;
        margin-right: 3%;
        border-right: none; }
        #mega-footer ul li.mega-item:last-child::after {
          content: '';
          display: table;
          clear: both; }
        #mega-footer ul li.mega-item:last-child:last-child {
          margin-right: 0%; }
        #mega-footer ul li.mega-item:last-child ul li {
          border-right: none;
          width: 100%;
          display: block; }
      #mega-footer ul li.mega-item .quick-links ul li {
        border-right: none !important;
        display: inline-block;
        float: left;
        clear: none;
        text-align: inherit;
        width: 50%;
        margin-left: 0%;
        margin-right: 0%; }
        #mega-footer ul li.mega-item .quick-links ul li::after {
          content: '';
          display: table;
          clear: both; }

.mission-statement {
  text-align: center;
  padding: 40px 6em 0; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .mission-statement {
      padding: 40px 3% 0; } }
  @media only screen and (max-width: 767px) {
    .mission-statement {
      padding: 20px 3% 0; } }

.community .community-item {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative; }
  .community .community-item::after {
    content: '';
    display: table;
    clear: both; }
  .community .community-item:last-child {
    margin-right: 0%; }
  @media only screen and (max-width: 767px) {
    .community .community-item {
      float: left;
      clear: none;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%;
      text-align: center;
      margin-bottom: 20px;
      padding: 0 30px; }
      .community .community-item::after {
        content: '';
        display: table;
        clear: both; }
      .community .community-item:last-child {
        margin-right: 0%; } }
  .community .community-item h2 {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: .556em 0;
    background-color: rgba(255, 255, 255, 0.75); }
    .community .community-item h2 a {
      color: #ed1c24; }

.join .join--item {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: center; }
  .join .join--item::after {
    content: '';
    display: table;
    clear: both; }
  .join .join--item:last-child {
    margin-right: 0%; }
  .join .join--item h2 {
    text-align: center; }
  .join .join--item .join--us {
    margin-top: 60px; }
    .join .join--item .join--us a {
      display: inline-block;
      padding: .9rem 1.222rem;
      color: #FFF;
      background-color: #ed1c24;
      font-size: 1.166rem; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .join .join--item {
      float: left;
      clear: none;
      text-align: inherit;
      width: 48.5%;
      margin-left: 0%;
      margin-right: 3%; }
      .join .join--item::after {
        content: '';
        display: table;
        clear: both; }
      .join .join--item:last-child {
        margin-right: 0%; } }
  @media only screen and (max-width: 767px) {
    .join .join--item {
      float: left;
      clear: none;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%; }
      .join .join--item::after {
        content: '';
        display: table;
        clear: both; }
      .join .join--item:last-child {
        margin-right: 0%; } }

.sponsors {
  margin-bottom: 60px;
  width: auto;
  max-width: 65%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  .sponsors::after {
    content: '';
    display: table;
    clear: both; }
  .sponsors h2 {
    text-align: center; }
  .sponsors ul {
    padding: 0;
    margin: 0; }
    .sponsors ul li {
      float: left;
      clear: none;
      text-align: inherit;
      width: 22.75%;
      margin-left: 0%;
      margin-right: 3%;
      list-style: none; }
      .sponsors ul li::after {
        content: '';
        display: table;
        clear: both; }
      .sponsors ul li:last-child {
        margin-right: 0%; }
      @media only screen and (max-width: 767px) {
        .sponsors ul li {
          float: left;
          clear: none;
          text-align: inherit;
          width: 48.5%;
          margin-left: 0%;
          margin-right: 3%; }
          .sponsors ul li::after {
            content: '';
            display: table;
            clear: both; }
          .sponsors ul li:last-child {
            margin-right: 0%; } }
      .sponsors ul li img {
        max-width: 100%;
        height: auto; }

.page-title {
  margin: 0 0 60px 0; }

#primary .board--members {
  margin: 0;
  padding: 0; }
  #primary .board--members li {
    list-style: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc; }
    #primary .board--members li img {
      float: left;
      padding-right: 10px; }

.home_slider .container .main-slides {
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66667%;
  margin-left: 0%;
  margin-right: 3%; }
  .home_slider .container .main-slides::after {
    content: '';
    display: table;
    clear: both; }
  .home_slider .container .main-slides:last-child {
    margin-right: 0%; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home_slider .container .main-slides {
      float: left;
      clear: none;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%; }
      .home_slider .container .main-slides::after {
        content: '';
        display: table;
        clear: both; }
      .home_slider .container .main-slides:last-child {
        margin-right: 0%; } }
  @media only screen and (max-width: 767px) {
    .home_slider .container .main-slides {
      float: left;
      clear: none;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%; }
      .home_slider .container .main-slides::after {
        content: '';
        display: table;
        clear: both; }
      .home_slider .container .main-slides:last-child {
        margin-right: 0%; } }

.home_slider .container .featured-events {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%; }
  .home_slider .container .featured-events::after {
    content: '';
    display: table;
    clear: both; }
  .home_slider .container .featured-events:last-child {
    margin-right: 0%; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home_slider .container .featured-events {
      float: left;
      clear: none;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%; }
      .home_slider .container .featured-events::after {
        content: '';
        display: table;
        clear: both; }
      .home_slider .container .featured-events:last-child {
        margin-right: 0%; } }
  @media only screen and (max-width: 767px) {
    .home_slider .container .featured-events {
      float: left;
      clear: none;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%; }
      .home_slider .container .featured-events::after {
        content: '';
        display: table;
        clear: both; }
      .home_slider .container .featured-events:last-child {
        margin-right: 0%; } }

.home_slider .slides li {
  position: relative; }
  .home_slider .slides li .flex-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .556em;
    background-color: rgba(0, 0, 0, 0.5); }
    .home_slider .slides li .flex-caption h2 a {
      color: #FFF; }

.home_slider .featured-events .half {
  position: relative;
  margin-bottom: 15px; }
  .home_slider .featured-events .half:last-child {
    margin-bottom: 0; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home_slider .featured-events .half {
      float: left;
      clear: none;
      text-align: inherit;
      width: 48.5%;
      margin-left: 0%;
      margin-right: 3%; }
      .home_slider .featured-events .half::after {
        content: '';
        display: table;
        clear: both; }
      .home_slider .featured-events .half:last-child {
        margin-right: 0%; } }
  @media only screen and (max-width: 767px) {
    .home_slider .featured-events .half {
      float: left;
      clear: none;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%; }
      .home_slider .featured-events .half::after {
        content: '';
        display: table;
        clear: both; }
      .home_slider .featured-events .half:last-child {
        margin-right: 0%; } }
  .home_slider .featured-events .half h2 {
    position: absolute;
    padding: .556em 0;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75); }

.flex-direction-nav a:before {
  font-size: 32px;
  color: #FFF;
  font-weight: lighter; }

@media screen and (min-width: 56.875em) {
  .wp-custom-logo .site-header-main {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .256em 0em;
    background-color: #FFF; } }

@media screen and (min-width: 44.375em) {
  body:not(.custom-background-image):before, body:not(.custom-background-image):after {
    background: inherit;
    content: "";
    display: block;
    height: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99; } }

@media screen and (min-width: 44.375em) {
  .site, #page {
    margin: 0 !important; } }

.site-inner {
  margin: 0;
  min-width: 100%; }

.site-header {
  background-color: #000; }

@media screen and (min-width: 61.5625em) {
  .site-header {
    padding: 0 4.5455%; } }

@media screen and (max-width: 910px) {
  .menu-toggle {
    color: #FFF; }
    .menu-toggle:focus, .menu-toggle:hover {
      color: #ed1c24;
      border-color: #ed1c24; }
  #social-navigation {
    display: none; }
  #masthead {
    padding: 1.9375em 4.6923%; } }

@media screen and (max-width: 1044px) {
  #social-navigation {
    display: none; } }
