body {
  font-family: "Montserrat", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif; }

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  margin: 0px;
  padding: 0px;
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0px;
  padding: 0px;
  background: #FFF;
  height: 100%;
  min-height: 100%; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
.header__nav {
  float: left;
  clear: none;
  text-align: inherit;
  width: 58.15625%;
  margin-left: 0%;
  margin-right: 3%;
  display: table;
  height: 70px; }
  .header__nav::after {
    content: '';
    display: table;
    clear: both; }
  .header__nav:last-child {
    margin-right: 0%; }
  .header__nav .menu-main-container {
    height: 100%; }
  .header__nav ul {
    margin: 0;
    padding: 0;
    display: table;
    height: 100%; }
    .header__nav ul .menu-item {
      list-style: none;
      padding-left: 20px;
      display: table-cell;
      vertical-align: middle;
      height: 100%; }
      .header__nav ul .menu-item a {
        padding: 25px 10px;
        text-decoration: none;
        color: #FFF;
        text-transform: lowercase;
        letter-spacing: 2px;
        font-weight: 300;
        font-size: 1em; }

.header__social_nav {
  float: left;
  clear: none;
  text-align: inherit;
  width: 16.3125%;
  margin-left: 0%;
  margin-right: 3%; }
  .header__social_nav::after {
    content: '';
    display: table;
    clear: both; }
  .header__social_nav:last-child {
    margin-right: 0%; }

.container {
  width: auto;
  max-width: 82%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding-left: 20px;
  padding-right: 20px; }
  .container::after {
    content: '';
    display: table;
    clear: both; }

.row {
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding-left: -20px;
  padding-right: -20px; }
  .row::after {
    content: '';
    display: table;
    clear: both; }

.header {
  height: 70px;
  background-color: #000;
  color: #FFF;
  width: 100%; }
  .header .header__logo {
    float: left;
    clear: none;
    text-align: inherit;
    width: 19.53125%;
    margin-left: 0%;
    margin-right: 3%; }
    .header .header__logo::after {
      content: '';
      display: table;
      clear: both; }
    .header .header__logo:last-child {
      margin-right: 0%; }
    .header .header__logo img {
      vertical-align: middle;
      padding: 5px 0px; }

#main {
  padding-top: 40px; }

.article {
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66667%;
  margin-left: 0%;
  margin-right: 3%; }
  .article::after {
    content: '';
    display: table;
    clear: both; }
  .article:last-child {
    margin-right: 0%; }

aside {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%; }
  aside::after {
    content: '';
    display: table;
    clear: both; }
  aside:last-child {
    margin-right: 0%; }
