body {
  font-family: "Montserrat", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif; }

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  margin: 0px;
  padding: 0px;
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  min-height: 100%; }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body, html {
  margin: 0px;
  padding: 0px;
  background: #FFF;
  height: 100%;
  min-height: 100%; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
.clearfix:after, .row:after, #mega-footer:after, #mega-footer ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix, * html .row, * html #mega-footer, * html #mega-footer ul, #mega-footer * html ul {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix, *:first-child + html .row, *:first-child + html #mega-footer, *:first-child + html #mega-footer ul, #mega-footer *:first-child + html ul {
  zoom: 1; }

/* IE7 */
#site-navigation #menu-main li a, #site-navigation #menu-main li.menu-item a, #site-navigation ul li a, #site-navigation ul li.menu-item a {
  text-decoration: none;
  color: #FFF;
  letter-spacing: 2px;
  text-transform: capitalize; }

.header {
  height: 70px;
  background-color: #000;
  color: #FFF;
  width: 100%; }
  .header .header__logo {
    float: left;
    clear: none;
    text-align: inherit;
    width: 19.53125%;
    margin-left: 0%;
    margin-right: 3%; }
    .header .header__logo::after {
      content: '';
      display: table;
      clear: both; }
    .header .header__logo:last-child {
      margin-right: 0%; }
    .header .header__logo img {
      vertical-align: middle;
      padding: 5px 0px; }

#main {
  padding-top: 40px; }

.article {
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66667%;
  margin-left: 0%;
  margin-right: 3%; }
  .article::after {
    content: '';
    display: table;
    clear: both; }
  .article:last-child {
    margin-right: 0%; }

aside {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%; }
  aside::after {
    content: '';
    display: table;
    clear: both; }
  aside:last-child {
    margin-right: 0%; }

.footer {
  background-color: #000; }

#mega-footer ul {
  margin: 0;
  padding: 0; }
  #mega-footer ul li {
    float: left;
    clear: none;
    text-align: inherit;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%; }
    #mega-footer ul li::after {
      content: '';
      display: table;
      clear: both; }
    #mega-footer ul li:last-child {
      margin-right: 0%; }

.home_slider .container .main-slides {
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66667%;
  margin-left: 0%;
  margin-right: 3%; }
  .home_slider .container .main-slides::after {
    content: '';
    display: table;
    clear: both; }
  .home_slider .container .main-slides:last-child {
    margin-right: 0%; }

.home_slider .container .events {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%; }
  .home_slider .container .events::after {
    content: '';
    display: table;
    clear: both; }
  .home_slider .container .events:last-child {
    margin-right: 0%; }

@media screen and (min-width: 56.875em) {
  .wp-custom-logo .site-header-main {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .256em 0em;
    background-color: #000; } }

@media screen and (min-width: 44.375em) {
  body:not(.custom-background-image):before, body:not(.custom-background-image):after {
    background: inherit;
    content: "";
    display: block;
    height: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99; } }

@media screen and (min-width: 44.375em) {
  .site, #page {
    margin: 0 !important; } }

.site-inner {
  margin: 0;
  min-width: 100%; }

.site-header {
  background-color: #000; }

@media screen and (min-width: 61.5625em) {
  .site-header {
    padding: 0 4.5455%; } }

@media screen and (max-width: 910px) {
  .menu-toggle {
    color: #FFF; }
    .menu-toggle:focus, .menu-toggle:hover {
      color: #ed1c24;
      border-color: #ed1c24; } }
