/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  margin: 0px;
  padding: 0px;
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  min-height: 100%;
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body, html {
  margin: 0px;
  padding: 0px;
  background: $white;
  height: 100%;
  min-height: 100%;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
a{
  color: $primary_color;
  @include transition(all .4s);
  &:hover{
    @include transition(all .4s);
  }
}
.row{
    @extend .clearfix; 
}
.spacing{
  margin-bottom: 40px;
  padding-top: 40px;
}
.border--top{
  border-top: 1px dotted #ccc;
}