//HEADER STYLES
.header{
    height: 70px;
    background-color: #000;
    color: $white;
    width: 100%;
    .header__logo{
        @include column(3.5/16);
        img{
            vertical-align: middle;
            padding: 5px 0px;
        }
    }
}

///MAIN CONTENT
#main{
    padding-top: 40px;
}
.article{
    @include column(8/12);
}
aside{
    @include column(4/12);
}

//FOOTER
.footer{
    background-color: $black;
}
//MEGA FOOTER
#mega-footer{
    @extend .clearfix;
    ul{
        margin: 0;
        padding: 0;
        @extend .clearfix;
        li{
            @include column(3/12);
        }
    }
}