#site-navigation{
    #menu-main, ul{
        li, li.menu-item{
            a{
                text-decoration: none;
                color: $white;
                letter-spacing: 2px;
                text-transform: capitalize;
            }
            &.menu-item-has-children{
                ul{
                    background-color: $black;
                    li{
                        color: $white;
                        background-color: inherit;
                    }
                }
            }
        }
    }
}
