.site-header-main{
    a{
        color: $primary_color;
    }
}
#site-navigation{
    #menu-main, ul{
        li, li.menu-item{
            a{
                text-decoration: none;
                color: $white;
                letter-spacing: 2px;
                text-transform: capitalize;
                @include transition(all .4s);
            }
            &.menu-item-has-children{
                ul{
                    background-color: $white;
                    li{
                        color: $white;
                        background-color: inherit;
                        @include transition(all .4s);
                    }
                }
            }
        }
    }
}
.menu-toggle, .thanks_button_div input[type="button"]:hover, button:hover {
    margin: 1.076923077em 0 !important;
    padding: 0.769230769em !important;
    background-color: transparent;
    border: 1px solid #d1d1d1;
    font-size: 13px;
    text-transform: uppercase;
    &:hover, &:focus{
        border: 1px solid #d1d1d1;
        font-size: 13px;
        text-transform: uppercase; 
        margin: 1.076923077em 0 !important;
        padding: 0.769230769em !important;
    }
}