.home_slider{
    .container{
        .main-slides{
            @include column(8/12);
            @include screen('tablet'){
                @include column(12/12);
            }
            @include screen('mobile'){
                @include column(12/12);
            }
        }
        .featured-events{
            @include column(4/12);
            @include screen('tablet'){
                @include column(12/12);
            }
            @include screen('mobile'){
                @include column(12/12);
            }
        }
    }
    .slides{
        li{
            position: relative;
            .flex-caption{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: .556em;
                background-color: rgba(0, 0, 0, .5);
                h2{
                    a{
                        color: $white;
                    }
                }
            }
        }
    }
    .featured-events{
        .half{
            position: relative;
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
            @include screen('tablet'){
                @include column(6/12);
            }
            @include screen('mobile'){
                @include column(12/12);
                padding: 0 30px;
            }
            h2{
                position: absolute;
                padding: .556em 0;
                bottom: 0;
                left: 0;
                width: 100%;
                text-align: center;
                background-color: rgba(255, 255, 255, .75);
            }
        }
    }
}
.flex-direction-nav a:before{
    font-size: 32px;
    color: $white;
    font-weight: lighter;
}