.community-page{
  .community{
    padding: 0;
    margin: 0;
    list-style: none;
    article{
      margin-bottom: 60px;
      padding-bottom: 60px;
      border-bottom: 1px solid #ccc;
      h2{
        padding: 0;
        margin-bottom: 30px;
        font-size: 1.7rem;
      }
      footer{
        font-size: 12px;
        padding: 10px 0;
      }
      .post-image{
        margin-bottom: 20px;
      }
    }

  }
}